body{
    background-color: dimgray;

}
div{
     text-justify: inter-word;
}
#kontener{
    width: 1040px;
    height: auto;
    margin: auto;
}
#toptile{
    color: white;
    width: 996px;
    margin: 20px;
    text-align: center;
    background-color: #b000ff;
    height: 150px;
    font-size: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #fff;

}
#tilesmall1{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #359bed;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilesmall2{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #ff4006;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilesmall3{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #04aeda;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilesmall4{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #7dc211;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilesmall5{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #ffbc0e;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilesmall6{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #85795c;
    margin-left: 20px;
    margin-bottom: 20px;
}
#tilegroup{
    margin-bottom: 200px;
}
.tilepic{
    margin: 25px;
    text-align: center;
    
}
#whitebox1{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#whitebox2{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#whitebox3{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#whitebox4{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#whitebox5{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#whitebox6{
    width: 1000px;
    float: bottom;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: auto;
    display: none;
}
#textbox1{
    width: 1000px;
    margin: 10px;
    float: bottom;
    display: none;
    text-align: left;
    box-shadow: 10px 10px 5px #313131;
}/* Terminal*/
#textbox2{
    width: 1000px;
    float: bottom;
    margin: 10px;
    display: none;
    text-align: left;
    box-shadow: 10px 10px 5px #313131;
}/* GUI*/
#textbox3{
    width: 1000px;
    float: bottom;
    margin: 10px;
    display: none;
    text-align: left;
    box-shadow: 10px 10px 5px #313131;
}/* Distros*/
#textbox4{
    width: 1000px;
    float: bottom;
    margin: 10px;
    display: none;
    text-align: center;
    box-shadow: 10px 10px 5px #313131;
}/* instalacja*/
#textbox5{
    width: 1000px;
    float: bottom;
    margin: 10px;
    display: none;
    text-align: center;
    box-shadow: 10px 10px 5px #313131;
}/* Linus*/
#textbox6{
    width: 1000px;
    float: bottom;
    margin: 10px;
    display: none;
    text-align: center;
    box-shadow: 10px 10px 5px #313131;
}/* About*/
#tilesmall1:hover{
    background-color: #1f5d8e;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
#tilesmall2:hover{
    background-color: #992603;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
#tilesmall3:hover{
    background-color: #027998;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
#tilesmall4:hover{
    background-color: #4b740a;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
#tilesmall5:hover{
    background-color: #997008;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
#tilesmall6:hover{
    background-color: #423C2E;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}